<div class="inicio input-group flex-nowrap">
  <a type="button" class="btn btn-primary" href="/canciones/agregar">Agregar</a>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control bg-dark text-white" placeholder="Buscar" aria-label="Username"
    aria-describedby="addon-wrapping" [(ngModel)]="search">
</div>

<table class="espacio resp">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Grupo</th>
      <th scope="col">Duración</th>
      <th scope="col">Publicación</th>
      <th scope="col">Genero</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let canciones of Canciones | filter:search">
      <td>{{canciones.Nombre}}</td>
      <td>{{canciones.Grupo}}</td>
      <td>{{canciones.Duracion}}</td>
      <td>{{canciones.Publicacion}}</td>
      <td>{{canciones.Genero}}</td>
      <td>
        <a [routerLink]="['/canciones/actualizar', canciones.idCancion]" class="btn btn-info btn-block"><i
            class="fa-solid fa-pen-to-square"></i></a>
        <button class="btn btn-danger" (click)="borrar(canciones.idCancion)">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
