<div class="inicio">
  <a type="button" class="btn btn-primary" href="/grupo/agregar">Agregar</a>
</div>

<div class="col-md-4" *ngFor="let grupos of Grupos" style="margin-bottom: 1.5rem;">
  <div class="card text-center">
    <div class="card-header text-white d-flex justify-content-between align-items-center">
      {{grupos.Nombre}}
      <button class="btn btn-danger" (click)="borrar(grupos.idGrupo)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img [src]="grupos.Logo == '' ? '/assets/noImagen.png' : grupos.Logo " alt="Imagen del Grupo">
    <div class="card-body">
      <p style="font-weight: bold;">Albumes</p>
      <p>{{grupos.Albumes}}</p>
      <p style="font-weight: bold;">Canciones</p>
      <p>{{grupos.Cancion}}</p>
      <p style="font-weight: bold;">Origen</p>
      <p>{{grupos.Origen}}</p>
      <p style="font-weight: bold;">Genero</p>
      <p>{{grupos.Genero}}</p>
      <p style="font-weight: bold;">Inicio</p>
      <p>{{grupos.FechaInicio}}</p>
      <p style="font-weight: bold;">Estado</p>
      <p>{{grupos.Estado}}</p>
      <p style="font-weight: bold;">Sitio Web</p>
      <p><a href="{{grupos.SitioWeb}}" target="_blank">{{grupos.SitioWeb}}</a></p>

      <a [routerLink]="['/grupo/actualizar', grupos.idGrupo]" class="btn btn-info btn-block"><i
          class="fa-solid fa-pen-to-square"></i>
      </a>

      <a [routerLink]="['/buscaCancion_Grupo', grupos.idGrupo]" class="btn btn-success btn-block" target="_blank">
        <i class="fa-solid fa-music"></i>
      </a>

      <a [routerLink]="['/buscaAlbum_Grupo', grupos.idGrupo]" class="btn btn-warning btn-block" target="_blank">
        <i class="fa-sharp fa-solid fa-compact-disc"></i>
      </a>

      <a [routerLink]="['/buscaIntegrante_Grupo', grupos.idGrupo]" class="btn btn-danger btn-block" target="_blank">
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
  </div>
</div>
