<!-- <div class="inicio">
  <a type="button" class="btn btn-primary" href="/album/agregar">Agregar</a>
</div> -->

<div class="inicio input-group flex-nowrap">
  <a type="button" class="btn btn-primary" href="/album/agregar">Agregar</a>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control bg-dark text-white" placeholder="Buscar" aria-label="Username"
    aria-describedby="addon-wrapping" [(ngModel)]="search">
</div>

<div class="col-md-4" *ngFor="let album of Albums | filter:search" style="margin-bottom: 1.5rem;">
  <div class="card text-center">
    <div class="card-header text-white d-flex justify-content-between align-items-center">
      {{album.Nombre}}
      <div class="botones">
        <button class="btn btn-danger" (click)="borrar(album.idAlbum)">
          <i class="far fa-trash-alt"></i>
        </button>
        <a [routerLink]="['/buscaCancion_Album', album.idAlbum]" class="btn btn-success btn-block" target="_blank">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
      </div>

    </div>
    <img [src]="album.Portada == '' ? '/assets/noImagen.png' : album.Portada " alt="Imagen del Album">
    <div class="card-body">
      <p style="font-weight: bold;">Grupo</p>
      <p>{{album.Grupo}}</p>
      <p style="font-weight: bold;">Canciones</p>
      <p>{{album.Canciones}}</p>
      <p style="font-weight: bold;">Duración</p>
      <p>{{album.DuracionF}}</p>
      <p style="font-weight: bold;">Lanzamiento</p>
      <p>{{album.FechaLanzamiento}}</p>
      <p style="font-weight: bold;">Disquera</p>
      <p>{{album.Disquera}}</p>
      <a [routerLink]="['/album/actualizar', album.idAlbum]" class="btn btn-info btn-block">Editar</a>
    </div>
  </div>
</div>
