<!-- <div class="inicio">
  <a type="button" class="btn btn-primary" href="/instrumento/agregar">Agregar</a>
</div> -->

<div class="inicio input-group flex-nowrap">
  <a type="button" class="btn btn-primary" href="/instrumento/agregar">Agregar</a>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control bg-dark text-white" placeholder="Buscar" aria-label="Username"
    aria-describedby="addon-wrapping" [(ngModel)]="search">
</div>

<div class="col-md-4" *ngFor="let instrumento of instrumentos | filter:search" style="margin-bottom: 1.5rem;">
  <div class="card text-center">
    <div class="card-header text-white d-flex justify-content-between align-items-center">
      {{instrumento.Nombre}}
      <button class="btn btn-danger" (click)="borrarInstrumento(instrumento.idInstrumento)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img [src]="instrumento.Foto == '' ? '/assets/noImagen.png' : instrumento.Foto "
      style="margin-left: auto; margin-right: auto; height: 300px;" alt="Imagen del Instrumento">
    <div class="card-body">
      <p style="font-weight: bold;">Descripcion</p>
      <p>{{instrumento.Descripcion}}</p>
      <a [routerLink]="['/instrumento/actualizar', instrumento.idInstrumento]" class="btn btn-info btn-block">Editar</a>
    </div>
  </div>
</div>
